<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-md-offset-2">
		      <button type="button" class="mini-stat bg-facebook"><h3><span class="glyphicon glyphicon-plus"></span> Caja  </h3>
		            Realizar apertura de la caja</button>
		    </div>
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col col-md-offset-2">
		      <button type="button" class="mini-stat bg-facebook"><h3><span class="glyphicon glyphicon-plus"></span> Banco  </h3>
		            Realizar apertura de la caja</button>
		    </div>
		</div>
	</div>
</div>
