<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<button class="btn btn-default btn-outline btn-circle" type="button">2</button>

<button type="button" class="btn btn-outline btn-info">Info</button>