<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipos_de_persona.descripcion %>
</p>

<%= link_to 'Editar', edit_tipos_de_persona_path(@tipos_de_persona) %> |
<%= link_to 'Atras', tipos_de_personas_path %>
