<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipos_de_estado.descripcion %>
</p>

<%= link_to 'Editar', edit_tipos_de_estado_path(@tipos_de_estado) %> |
<%= link_to 'Atras', tipos_de_estados_path %>
